{% extends 'mainApp/layout.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusamus aliquam atque harum in, labore molestiae repellat unde voluptatibus.</p>
        <button class="btn btn-secondary">Про меня</button>

        {{ news }}
    </div>
{% endblock %}

            {{ form.title }}
            {{ form.anons }}
            {{ form.full_text }}
            {{ form.dates }}
